<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="有些, aiyouxie">
  <meta name="keywords" content="有些, aiyouxie">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{{ title }}</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="{{ static_url }}images/logo-sm.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="{{ static_url }}images/logo-md.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="{{ static_url }}images/logo-sm.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="{{ static_url }}images/logo-sm.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
  <!--
  <link rel="canonical" href="http://www.example.com/">
  -->

  <link rel="stylesheet" href="{{ static_url }}css/amazeui.min.css">
  {% block page_css %}{% endblock %}
</head>
<body>

<header class="am-topbar am-topbar-inverse am-topbar-fixed-top">
  <h1 class="am-topbar-brand">
    <a href="{{ index_url }}">有些</a>
  </h1>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li class="am-active"><a href="{{ index_url }}">首页</a></li>
      <li class="am-dropdown" data-am-dropdown>
          <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
              有些朋友<span class="am-icon-caret-down"></span>
          </a>
          <ul class="am-dropdown-content">
              <li><a href="{{ nvs_url }}">女神</a></li>
              <li><a href="{{ ns_url }}">男神</a></li>
          </ul>
      </li>
      <li class="am-dropdown" data-am-dropdown>
          <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
              有些声音<span class="am-icon-caret-down"></span>
          </a>
          <ul class="am-dropdown-content">
              <li><a href="{{ jdhg_url }}">经典回顾</a></li>
              <li><a href="{{ bsbs_url }}">不三不四</a></li>
          </ul>
      </li>
      <li><a href="{{ bfx_url }}">摆饭秀</a></li>
      <li class="am-dropdown" data-am-dropdown>
          <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
              投稿<span class="am-icon-caret-down"></span>
          </a>
          <ul class="am-dropdown-content">
              <li><a href="{{ kll_url }}">括拉拉档案</a></li>
              <li><a href="{{ mstj_url }}">美食推荐</a></li>
              <li><a href="{{ show_url }}">我来秀</a></li>
          </ul>
      </li>
    </ul>
  </div>
</header>



{% block main %}{% endblock %}


<footer class="am-footer am-footer-default" data-am-widget="footer">
    <div class="am-footer-miscs">
        <p><span>copyright&copy;有些</span>&nbsp;&nbsp;
            <span class="am-footer-divider">|</span>&nbsp;&nbsp;
            <span>欢迎关注&nbsp;<span style="font-weight: bold;color: darkblue;">aiyouxie</span></span>
        </p>
    </div>
</footer>


<!-- 下面导入js -->


<!--[if (gte IE 9)|!(IE)]><!-->
<script src="{{ static_url }}js/jquery-2.1.1.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<![endif]-->
<script src="{{ static_url }}js/amazeui.min.js"></script>

{% block custom_js %}
{% endblock %}

</body>
</html>