
{% extends "base.html" %}

{% block page_css %}
    <link rel="stylesheet" href="{{ static_url }}css/mobile_index.css"/>
{% endblock %}

{% block main %}
<!-- slider -->
<div data-am-widget="slider" class="am-slider am-slider-c3" data-am-slider='{&quot;controlNav&quot;:false}'>
  <ul class="am-slides">
      {% for slider in sliders %}
          <li>
              <img src="{{ slider.pic_url }}">
              <div class="am-slider-desc">
                <div class="am-slider-counter">
                  <span class="am-active">{{ forloop.counter }}</span>/{{ sliders|length }}</div>{{ slider.intro }}</div>
            </li>
      {% endfor %}

  </ul>
</div>

{% for article in articles %}
    <a href="{{ article.url }}">
        <div class="box">
            <div class="am-thumbnail">
              <img src="{{ article.pic_url }}" alt=""/>
              <div class="am-thumbnail-caption">
                <h3 style="margin-bottom: -0.6rem;">{{ article.title }}</h3>
                <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
                <p style="margin-top: -1.1rem;font-size: small">{{ article.intro }}</p>
              </div>
            </div>
        </div>
    </a>

{% endfor %}



{% endblock %}
