
{% extends "base.html" %}

{% block main %}
<div data-am-widget="list_news" class="am-list-news am-list-news-default">
  <!--列表标题-->
  <div class="am-list-news-hd am-cf">
    <!--带更多链接-->
    <a href="###">
      <h2>{{ column_name }}</h2>
      <span class="am-list-news-more am-fr"></span>
    </a>
  </div>
  <div class="am-list-news-bd">
    <ul class="am-list" id="content">
        {% for obj in objs %}
            <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
                <div class="am-u-sm-4 am-list-thumb">
                  <a href="{{ obj.url }}">
                    <img src="{{ obj.pic_url }}" alt=""
                    />
                  </a>
                </div>
                <div class=" am-u-sm-8 am-list-main">
                  <h3 class="am-list-item-hd">
                    <a href="{{ obj.url }}">{{ obj.title }}</a>
                  </h3>
                  <div class="am-list-item-text">{{ obj.intro }}</div>
                </div>
              </li>
        {% endfor %}
      <!--缩略图在标题左边-->

    </ul>
  </div>
</div>

<ul data-am-widget="pagination" class="am-pagination am-pagination-select">
  <li class="am-pagination-prev ">
    <a id="btn_prev_page" href="#" onclick="javascript:return false;">上一页</a>
  </li>
  <li class="am-pagination-select">
    <select>
        {% for p in page_range %}
            {% ifequal p current_page_num %}
                <option value="{{ p }}" class="" selected="selected">{{ p }} / {{ total_page_num }}</option>
            {% else %}
                <option value="{{ p }}" class="">{{ p }} / {{ total_page_num }}</option>
            {% endifequal %}
        {% endfor %}
    </select>
  </li>
  <li class="am-pagination-next ">
    <a id="btn_next_page" href="" onclick="javascript:return false;">下一页</a>
  </li>
</ul>

{% endblock %}


{% block custom_js %}
    <script>
    var current_page = {{ current_page_num }};
    var total_page = {{ total_page_num }};
    var harf_url = "{{ sync_url }}{{ type }}/";

    $(document).ready(function(){
        $("#btn_prev_page").click(function(){
            if(current_page==1){
                alert("已经是第一页了！");
                return false;
            }
            get_kll_list(current_page-1);

        });

        $("#btn_next_page").click(function(){
            if(current_page==total_page){
                alert("已经是最后一页了！");
                return false;
            }
            get_kll_list(current_page+1);

        });



        $("select").change(function(){
            get_kll_list(this.value);
        });


    });

    function change_page_num(p){
        $("option[value="+p+"]").attr("selected", "selected");
    }

    function get_kll_list(p){
            $.getJSON(harf_url+p+"/",function(data, status){
                if(status == 'success'){
                    var text = "";
                    for(var i in data){
                        var t = '<li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">\
                                    <div class="am-u-sm-4 am-list-thumb">\
                                      <a href="'+data[i].url+'">\
                                        <img src="'+ data[i].pic_url +'" alt=""\
                                        />\
                                      </a>\
                                    </div>\
                                    <div class=" am-u-sm-8 am-list-main">\
                                      <h3 class="am-list-item-hd">\
                                        <a href="'+ data[i].url +'">'+ data[i].title +'</a>\
                                      </h3>\
                                      <div class="am-list-item-text">'+ data[i].intro +'</div>\
                                    </div>\
                                  </li>';
                        text = text + t;
                    }
                    $("#content").html(text);
                    change_page_num(p);
                    current_page = p;
                }else{
                    alert("请求数据出错！");
                }
            });
        }

    </script>
{% endblock %}



