

.box {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}


.blur {
    -webkit-filter: blur(10px); /* Chrome, Opera */
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);
            filter: blur(10px);
}

.clear {
    -webkit-filter: blur(0px); /* Chrome, Opera */
       -moz-filter: blur(0px);
        -ms-filter: blur(0px);
            filter: blur(0px);
}

.full-bg {
    background-repeat: no-repeat;
}

. float-as-bg {
    float: left;
}

.test {
    width: 100%;
    height: 100%;
    background-color: red;
}

